<div class="elOssBssPaasLib-wIntegrationContent">
    <div><span class="elOssBssPaasLib-label">name:</span> {{pba.name}}</div>
    <div><span class="elOssBssPaasLib-label">version:</span> {{pba.version}}</div>
    <div><span class="elOssBssPaasLib-label">description:</span> {{pba.description}}</div>
    <div><span class="elOssBssPaasLib-label">id:</span> {{pba.id}}</div>
</div>
<e-link src="./_integrationContent.less"/>
