<div class="eaCreateApp-wIntegrationSelectionTable eaCreateApp-layout_5050">
    <section class="eaCreateApp-layout-item eaCreateApp-wIntegrationSelectionTable-source eb_scrollbar">
        <h3>Available integration points</h3>
        <e-element src="../integration-table/IntegrationTable" e-id="source"/>
    </section>
    <section class="eaCreateApp-layout-item eaCreateApp-wIntegrationSelectionTable-destination eb_scrollbar">
        <h3>Added integration points</h3>
        <e-element src="../integration-table/IntegrationTable" e-id="destination"/>
    </section>
</div>
<e-link src="./_integrationSelectionTable.less"/>
