<div class="eaCreateApp-rAppCreationWizard-stepIntegrationDefinition">
    <div class="eaCreateApp-layout_5050">
        <section class="eaCreateApp-layout-item">
            <e-element src="../../../../widgets/extension-integration-list/ExtensionIntegrationList" e-id="list"/>
        </section>
        <section class="eaCreateApp-layout-item">
            <header class="eaCreateApp-rAppCreationWizard-formTitle" e-id="formTitle">{{formTitle}}</header>
            <e-element src="../../../../widgets/integration-point-settings-form/IntegrationPointSettingsForm" e-id="form" e-options="formOptions"/>
        </section>
    </div>
</div>
