<li class="eaCreateApp-wExtensionIntegrationList-item">
    <div class="eaCreateApp-wExtensionIntegrationList-itemHeader">
        <div class="eaCreateApp-wExtensionIntegrationList-itemName">{{data.name}}</div>
        <button class="ebBtn ebBtn_color_darkBlue ebBtn_small" e-id="addBtn">
            <i class="ebIcon eaCreateApp-icon_plus_white"></i>
            <span>Add</span>
        </button>
    </div>
    <div class="eaCreateApp-wExtensionIntegrationList-itemBody">
        <e-element src="../../../widgets/integration-points-list/IntegrationPointsList" e-id="list" e-options="listOptions"/>
    </div>
</li>
<e-link src="./_extensionIntegrationItem.less"/>
