<li class="eaCreateApp-wTemplateList-item">
    <div class="eaCreateApp-wTemplateList-itemHeader">
        <label class="eaCreateApp-wTemplateList-itemRadio">
            <input e-id="radioBtn" class="ebRadioBtn" type="radio" name="template-select-radio"/>
            <span class="ebRadioBtn-inputStatus"></span>
            <span class="ebRadioBtn-label">{{portal.title}}</span>
        </label>
        <i e-id="infoBtn" class="ebIcon ebIcon_info ebIcon_interactive eaCreateApp-wTemplateList-itemInfo" tabindex="0"></i>
    </div>
    <div class="eaCreateApp-wTemplateList-itemBody ebText_alternative">
        {{description}}
    </div>
</li>
<e-link src="./_templateItem.less"/>
