<div class="eaCreateApp-rAppCreationWizard-stepDependenciesDefinition">
    <div class="eaCreateApp-layout_3070 eaCreateApp-rAppCreationWizard-extensionDependency">
        <section class="eaCreateApp-layout-item eaCreateApp-rAppCreationWizard-extensionList eb_scrollbar">
            <e-element src="../../../../widgets/extension-integration-list/ExtensionIntegrationList" e-options="listOptions" e-id="list"/>
        </section>
        <section class="eaCreateApp-layout-item eaCreateApp-rAppCreationWizard-dependencySection" e-id="dependencySection">
            <header class="eaCreateApp-rAppCreationWizard-formTitle" e-id="sectionTitle">{{formTitle}}</header>

            <div class="eaCreateApp-rAppCreationWizard-dependencyTable eb_scrollbar">
                <e-element src="../../../../widgets/integration-selection-table/IntegrationSelectionTable" e-id="selectTable"/>
            </div>
            <br>
            <button class="ebBtn ebBtn_color_darkBlue" type="button" e-id="submit">Submit</button>
            <button class="ebBtn ebBtn_small eb_wMargin" type="button" e-id="cancel">Cancel</button>
        </section>
    </div>
</div>
