<div class="eaCreateApp">
    <e-element src="layouts/TopSection" e-id="topSection" e-options="topSectionOptions">
        <e-element src="layouts/MultiSlidingPanels" e-id="multiSlidingPanels" e-options="multiSlidingPanelsOptions">
            <e-element position="center" e-id="wizard" e-type="region" e-options="regionOptions" src="./regions/app-creation-wizard/AppCreationWizard"/>
        </e-element>
    </e-element>
</div>
<e-link src="./createApp.less"/>

