<div class="eaCreateApp-rAppCreationWizard-stepAppDetails">

    <form class="ebForm">
        <div class="ebForm-block eb_wMargin">
            <label class="ebLabel eaCreateApp-formLabel">
                <span class="ebLabel-text eaCreateApp-formLabelText ebLabel-text_required">Name</span>
                <span class="ebLabel-field eaCreateApp-formField">
                    <input class="ebInput ebInput_width_full" e-id="name"/>
                </span>
            </label>
        </div>
        <div class="ebForm-block eb_wMargin">
            <label class="ebLabel eaCreateApp-formLabel">
                <span class="ebLabel-text eaCreateApp-formLabelText">Version</span>
                <span class="ebLabel-field eaCreateApp-formField">
                    <input class="ebInput ebInput_width_small" e-id="version"/>
                </span>
            </label>
        </div>
        <div class="ebForm-block eb_wMargin">
            <label class="ebLabel eaCreateApp-formLabel">
                <span class="ebLabel-text eaCreateApp-formLabelText">Description</span>
                <span class="ebLabel-field eaCreateApp-formField">
                    <textarea class="ebTextArea ebTextArea_width_full" e-id="description"></textarea>
                </span>
            </label>
        </div>
    </form>
</div>
