<li class="eaCreateApp-wIntegrationPointsList-item">
    <span class="eaCreateApp-wIntegrationPointsList-itemText" title="{{name}}" e-id="text">{{name}}</span>
    <span class="eaCreateApp-wIntegrationPointsList-itemIcons">
        <i class="ebIcon ebIcon_interactive ebIcon_delete" e-id="delete"></i>
    </span>
</li>
<e-link src="./_integrationItem.less"/>
