<div class="eaCreateApp-wActionCell">
    <i class="eaCreateApp-wActionCell-icon ebIcon ebIcon_interactive ebIcon_add" title="Add dependency"></i>
    <i class="eaCreateApp-wActionCell-icon ebIcon ebIcon_interactive ebIcon_delete" title="Remove dependency"></i>
    <i class="eaCreateApp-wActionCell-icon ebIcon ebIcon_interactive ebIcon_info" title="Show details about this dependency"></i>
</div>
<e-link src="./_actionCell.less"/>
