<div class="eaCreateApp-rAppCreationWizard-step eaCreateApp-rAppCreationWizard-stepExtensionDefinition">
    <div class="eaCreateApp-layout_6040">
        <section class="eaCreateApp-layout-item">
            <e-element src="../../../../widgets/extension-definition-list/ExtensionDefinitionList" e-id="list"/>
        </section>
        <section class="eaCreateApp-layout-item">
            <header class="eaCreateApp-rAppCreationWizard-formTitle" e-id="formTitle">{{formTitle}}</header>
            <e-element src="../../../../widgets/extension-settings-form/ExtensionSettingsForm" e-id="form" e-options="formOptions"/>
        </section>
    </div>
</div>
